//
@use 'bootstrap';

$dc-primary: #0282F9;
$dc-main-dark: #1C1C1C;
$dc-footer-dark: #303030;
$dc-nav-text: #464646;
$dc-list-text: #959595;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    .up_colored {
        background-color: $dc-primary;
        span {
            font-size: 0.7rem;
            font-weight: 500;
        }
    }
    img {
        max-width: 90px;
    }
    .col-2, .col-10, .logo_img {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    nav {
        ul {
            list-style: none;
            li {
                a{
                    text-decoration: none;
                    color: $dc-nav-text;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 600;
                }
                padding: 3rem 0;
                margin: 0 0.8rem;
                display: inline-block;
                border-bottom: 4px solid transparent;
                &:hover{
                    border-color: $dc-primary;
                }
                &:hover a {
                    color: $dc-primary;
                }
            }
        }
        .active {
            border-bottom: 4px solid $dc-primary;
            a {
                color: $dc-primary;
            }
        }
    }
    input {
        border-bottom: 2px solid $dc-primary!important;
        width: 75%!important;
    }
}

.jumbotron_my {
    height: 350px;
    background-image: url('../img/jumbotron.jpg');
    background-position: top;
    background-size: cover;
}

main {
    background-color: $dc-main-dark;
    color: white;
    
    .container {
        position: relative;
        h3 {
        position: absolute;
        top: -26px;
        left: 16px;
        text-transform: uppercase;
        background-color: $dc-primary;
        padding: 0.5rem 1rem;
        }
    
            .my_card {
                img {
                    width: 220px;
                    height: 220px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    object-position: top;
                }
                h4 {
                    text-transform: uppercase;
                    padding: 1rem 0;
                    font-weight: 500;
                    font-size: 0.9rem;
                }
                p {
                    visibility: hidden;
                }
                &:hover p {
                    visibility: visible;
                }
            }
            
        
        .btn_container {
            display: flex;
            justify-content: center;
            padding: 2rem;
            button {
                padding: 0.5rem 3rem;
                font-weight: 600;
                text-transform: uppercase;
                color: white;
                background-color: $dc-primary;
                border: none;
                cursor: pointer;
            }
        
        }
    }
}

.services_section {
    background-color: $dc-primary;
    padding: 3rem 1rem;
    a {
        text-decoration: none;
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    img {
        max-width: 60px;
        aspect-ratio: 1.1;
        object-fit: contain;
    }
}


    .dc_lists_section {
        background-image: url('../img/dc-logo-bg.png'), url('../img/footer-bg.jpg');
        background-position: 90% center, center;
        background-size: 650px, cover;
        background-repeat: no-repeat;
        ul {
            padding: 0!important;
            margin: 0!important;
            list-style: none;
            line-height: 1.2rem;
            li {  
                font-size: 0.8rem;
                a {
                    text-decoration: none;
                    color: $dc-list-text;
                    font-weight: 500;
                }
            }
            
        }
    }
